img{
    filter:none;
    opacity: 1;
    height: 50vh;
}
body{
    /* display: flex; */
    /* padding: 2rem; */
}
.p{
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.grid-item-price{
    font-size: 30px;
    margin-bottom: 20px;
}
.button{
    /* width: 70px; */
    padding: 1rem 2rem;
    /* height: 30px; */
    color: rgb(23, 24, 22);
    background-color: rgb(111, 190, 77);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}