
.contact{
    background-color: #908d8d;
    height:100px;
    width: 400px;
    border-radius: 5px;
    display: flex;
    padding: 10px;

}
.mobile{
    display: inline-flex;
    background-color: #908d8d;
    height:100px;
    width: 400px;
    padding: 10px;
    border-radius: 5px;
}